@font-face {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'),
  url('/fonts/roboto-v18-latin_latin-ext-regular.woff2') format('woff2'),
  url('/fonts/roboto-v18-latin_latin-ext-regular.woff') format('woff');
}

@font-face {
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local('Roboto Italic'), local('Roboto-Italic'),
  url('/fonts/roboto-v18-latin_latin-ext-italic.woff2') format('woff2'),
  url('/fonts/roboto-v18-latin_latin-ext-italic.woff') format('woff');
}

@font-face {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('Roboto Medium'), local('Roboto-Medium'),
  url('/fonts/roboto-v18-latin_latin-ext-500.woff2') format('woff2'),
  url('/fonts/roboto-v18-latin_latin-ext-500.woff') format('woff');
}

@font-face {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Roboto Bold'), local('Roboto-Bold'),
  url('/fonts/roboto-v18-latin_latin-ext-700.woff2') format('woff2'),
  url('/fonts/roboto-v18-latin_latin-ext-700.woff') format('woff');
}
